* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

body,
div,
p,
h1,
h2,
a {
	padding:0;
	margin:0;
	font-family: "Avenir";
	font-weight: normal;
}

h2 {
	font-size: 12px;
	color: rgba(230,230,230,0.7);
	line-height: 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	text-align: justify;
	text-justify: inter-word;
}

p {
	padding: 7px;
}

#screencaps {
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	text-align: center;
}

img {
	max-width: 90px;
	max-height: 72px;
	width: 100%;
	height: 100%;
	padding: 3px;
	border: none;
}

img:hover {
	border: 1px solid rgba(240,240,240,0.9);
	cursor: pointer;
}